<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:horizonos="http://schemas.horizonos/sdk"
    android:installLocation="auto">
    <horizonos:uses-horizonos-sdk
        horizonos:minSdkVersion="69"
        horizonos:targetSdkVersion="69" />

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true" />
    <uses-feature
        android:name="com.oculus.feature.VIRTUAL_KEYBOARD"
        android:required="false" />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature android:glEsVersion="0x00030001" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Study6Theme"
        android:label="@string/app_name">
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3" />
        <meta-data
            android:name="com.oculus.vr.focusaware"
            android:value="true" />
        <meta-data
            android:name="com.oculus.handtracking.version"
            android:value="V2.0" />
        <uses-native-library
            android:name="libossdk.oculus.so"
            android:required="true" />
        <activity
            android:name=".Study6SpatialActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode"
            android:excludeFromRecents="false"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Study6QuestActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true"
            android:screenOrientation="landscape" />
        <service
            android:name=".Study6PhysiologyForegroundService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>
</manifest>
